.App {
  text-align: center;
}

.menu{
  display: flex;
  width: 35%;
  justify-content: space-evenly;
}
body{
  background-color: #2b2d42;
}
.logo{
  display: flex;
  align-items: center;
}
.logoimg{
  background-image: url(../src/undraw_cabin_hkfr.svg);
  height: 100px;
  width: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 10px;
}

.heroText{
  width: 40%;
  text-align: left;
}

.heroImg{
  width: 60%;
  height: 450px;
  background-image: url(../src/undraw_traveling_yhxq.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}
.stat{
  width: 20%;
  background-color: white;
  height: 180px;
  border-radius: 12px;
}
.destinations{
  width: 100%;
  padding-bottom: 100px;
  background-color: #edf2f4;
}
.footer{
  height: 100px;
  align-items: center;
}
.bookForm{
  width: 90%;
  background-color: white;
  min-height: fit-content;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  
}
.formimg{
  background-image: url(../src/undraw_working_from_anywhere_re_9obt.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  width: 60%;
  height: 450px;
  
}
.bookInfo{
  text-align: center;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutHead{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  text-align: left;
  background-color: white;
  padding: 50px;
  
}
.aboutImg{
  width: 40%;
  border-radius: 10px;
  box-shadow: 6px 8px 10px 0;

}
.abouttxt{
  width: 55%;
}
.aboutStats{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 200px;
  margin-top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
.area{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  
  
  
}
.displayImg{
  width: 45%;
  border-radius: 10px;
  
}
.aboutTxt{
  width: 50%;
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


